
/* Google font */

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Shared styles */

.display-flex {
    display: flex;
}

.dark-1 {
    color: rgb(19, 19, 19);
}

.dark-2 {
    color: rgb(66, 66, 66);
}

.dark-3 {
    color: rgb(114, 114, 114);
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

/* btns */

.btn-primary {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgb(255, 144, 14);
    border: 2px solid rgb(255, 144, 14);
    padding: 18px 25px;
    border-radius: 10px;
    margin-bottom: 50px;
    transition: all .5s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    color: rgb(255, 144, 14);
    transition: all .5s ease-in-out;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.section-description {
    margin-top: 28px;
    margin-bottom: 35px;
    max-width: 550px;
}

/* navbar related styles */

.navbar {
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.brand > span {
   color: rgb(255, 144, 14);
}

.nav-item {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(66, 66, 66);
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    color: rgb(255, 144, 14);
    transition: all .3s ease-in-out;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related style */

.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-top: 100px;
}

.banner-description {
    margin: 30px 0;
}

.banner-img {
    width: 100%;
    margin-bottom: 45px;
}

/* Teams section styles */

.teams {
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.our-features {
    max-width: 550px;
}

span#part-1 {
    font-weight: 500;
}

span#part-2 {
    color: rgb(255, 144, 14);
}

.our-features > .btn-primary {
    margin-bottom: 0;
}

/* Features sections */

.features {
    display: flex;
    gap: 140px;
}

#feature-section-title {
    border-left: 5px solid  rgb(255, 144, 14);
    padding-left: 21px;
}

.features-card {
    padding: 30px;
    margin-bottom: 35px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    max-width: 586px;
    /* background: rgb(255, 255, 255); */
}

.features-card > .feature-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.features img {
    width: 100%;
}

#experience-year {
    font-size: 4.1rem;
    font-weight: 700;
}
#experience-batch {
    padding: 45px 42px;
}

#experience-batch span:last-child {
    font-size: 1.5rem;
    font-weight: 500;
}


/* some facts section */
.fact-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 130px;
    margin: 100px;
}

.fact-card {
    border: 1px solid rgb(255, 144, 14);
    border-radius: 10px;
    width: 240px;
    height: 240px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 8px;

}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
}

/*  Sponsors section styles */

.sponsor-info {
    max-width: 540px;
    margin: 60px auto;
    text-align: center;
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 30px;
    margin-bottom: 120px;
}

.sponsors-companies img {
    filter: grayscale(100%);
}

/* footer section */

footer {
    max-width: 1440px;
    margin: 130px auto 200px auto;
    background: rgb(255, 244, 231);
    text-align: center;
    border-radius: 8px;
    padding: 40px;
}

.footer-txt {
    font-size: 1.25rem;
}





/* Responsive media query */

/* Small size devices like mobiles */

@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams {
        flex-direction: column;
        align-items: center;
    }

    .teams,
    .fact-container,
    .sponsors-companies {
        gap: 50px;
    }
    .nav-item {
        margin: 10px;
    }
    .nav-links {
        align-items: center;
        margin-top: 15px;
    }
    .banner-title {
        margin-top: 50px;
    }
    .team-img-container,
    .fact-container,
    .sponsors-companies {
        grid-template-columns: repeat(1, 1fr);
    }
    .team-img-container {
        margin-top: 50px;
    }
    .our-features, .facts {
        padding: 30px;
    }
    .fact-container,
    .sponsors-companies {
        margin: 60px auto;
        justify-items: center;
    }
    main > section {
        margin-top: 60px;
    }
    footer {
        margin: 100px auto;
    }
}

/* Medium size devices like tablets or landscap size of mobiles */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar {
        padding-top: 30px;
    }
    .brand {
        font-size: 2.5rem;
        margin-left: 30px;
    }
    main > section {
        margin-top: 60px;
    }
    .teams {
        flex-direction: column;
    }
    .our-features {
        margin: 0px auto 50px auto;
    }
    .fact-container,
    .sponsors-companies {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 50px;
    }
    .facts > .section-title,
    .facts > .section-description {
        margin-left: 30px;
    }
    footer {
        margin: 100px auto;
    }

}


